.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App {
  background-color: rgba(146, 183, 132, 0.433);
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem;
  position: top;
}

.nav-link {
  color: white;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.bg {
  background-image: url("https://i.imgur.com/2rS7Kor.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page {
  background-image: url("https://i.imgur.com/2rS7Kor.jpg");
  width: 100%;
  height: 20%;
  background-size: cover;
}

.site-title {
  padding: 1.5em;
  display:relative;
  text-align: center;
  color: black;
  font-size: 4em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.site-description {
  padding-bottom: 5em;
  display: relative;
  color: whitesmoke;
  font-size: 2.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.form {
  width: 100%;
  height: 20%;
  background-size: cover;
  background-image: url("https://i.imgur.com/fL9IQIk.jpg");
  color: black;
}

.form-title {
  padding-top: 1em;
  color: whitesmoke;
  font-size: 2em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit-btn {
  padding: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.user-input {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box;  
}

.form-btn {
  padding: em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;   
}

.rev-btn {
  padding: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold; 
}



.farm-header {
  font-size: 5.0em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.farms-box {
  background-image: url("https://i.imgur.com/9SPdXNG.jpg");
  width: 100%;
  height: 20%;
  top: 10;
  left: 0;
  margin: 0 auto;
  display: center;
  padding: 1rem 3rem;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
}

.farm-name {
  padding: 0.0em;
  font-size: 3.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.farm-location {
  padding: 0.0em;
  font-size: 2em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.farm-rating {
  padding: 0.0em;
  font-weight: bold;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-header {
  font-size: 5.0em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .products-box {
  border-top: 3px solid;
  color: black;
} */

.products-name {
  padding: 0.0em;
  font-size: 2em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-category {
  padding: 0.0em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-description {
  padding: 0.0em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-price {
  padding: 0.0em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-stock {
  padding: 0.0em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



